/* Centers "Welcome to Bad Bank" in index.js */
h1 {
  text-align: center;
}

.navbar {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: #eff4f55e;
  border-radius: 10px;
  border-style: hidden;
  float: none;
  display: block;
}

/* Links on the Nav bar */


a.nav-link:hover {
  text-decoration: underline;
  color: red !important;

}

a.nav-link:focus{
  text-decoration: underline;
  color: red !important;
}


/* Bootstrap Cards is used Globaly */
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Home component*/
.home-component-container {
  text-align: center;
  margin: 5px auto;
  float: none;
  margin-bottom: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* AllData component */
.all-data-component h3 {
  text-align: center;
}
